:global {
  .preview-rnd {
    z-index: 10000;
    // padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
      0 9px 28px 8px #0000000d;
    background-color: #fff;
    .rnd-content {
      width: 100%;
      height: 100%;
      .rnd-content-header {
        padding: 16px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        .rnd-content-header-left,
        .rnd-content-header-right {
          display: flex;
          align-items: center;
          .rnd-opera-img {
            font-size: 16px;
            margin: 0 10px;
            cursor: pointer;
            &:hover {
              color: #1890ff;
            }
            &.anticon-delete:hover {
              color: #ff4d4f;
            }
          }
        }
      }
      .rnd-content-body {
        position: relative;
        height: calc(100% - 90px);
        cursor: auto;
        overflow: hidden;
        .img-attach {
          position: absolute;
          cursor: pointer;
          transform-origin: 0% 0%;
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Chrome/Safari/Opera */
          -khtml-user-select: none; /* Konqueror */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently not supported by any browser */
        }
      }
      .rnd-content-bottom {
        position: relativ;
        border-top: 1px solid rgba(0, 0, 0, 0.06);
        font-size: 12px;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        .file-title {
          flex-grow: 1;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0 10px;
        }
        .pre-icon {
          transform: rotate(180deg);
          cursor: pointer;
        }
        .next-icon {
          cursor: pointer;
        }
      }
    }
  }
}
